.games-page {
  padding: 140px 40px;
}

.games-page h1 {
  text-align: center;

  font-size: 64px;

  margin-bottom: 60px;

  text-shadow:
    0 0 25px rgba(59,130,246,0.65);
}

.games-grid {
  display: grid;

  grid-template-columns:
    repeat(auto-fit, minmax(300px, 1fr));

  gap: 35px;
}

.game-card {
  text-decoration: none;
}

.game-image {
  height: 420px;

  border-radius: 28px;

  background-size: cover;
  background-position: center;

  overflow: hidden;

  position: relative;

  transition: 0.4s;

  border:
    1px solid rgba(255,255,255,0.08);
}

.game-image:hover {
  transform:
    translateY(-10px)
    scale(1.02);

  box-shadow:
    0 0 45px rgba(59,130,246,0.45);
}

.game-overlay {
  position: absolute;

  inset: 0;

  background:
    linear-gradient(
      rgba(0,0,0,0.15),
      rgba(0,0,0,0.88)
    );

  display: flex;

  flex-direction: column;

  justify-content: flex-end;

  padding: 28px;
}

.game-overlay h2 {
  font-size: 34px;

  margin-bottom: 10px;
}

.game-overlay p {
  color: #93c5fd;

  font-size: 18px;
}