.loader-screen {
  position: fixed;

  inset: 0;

  display: flex;

  justify-content: center;
  align-items: center;

  flex-direction: column;

  background: #020617;

  z-index: 9999;
}

.loader-glow {
  width: 140px;
  height: 140px;

  border-radius: 50%;

  background:
    radial-gradient(circle, #3b82f6, transparent 70%);

  filter: blur(20px);

  animation: pulse 2s infinite;
}

.loader-screen h1 {
  margin-top: 25px;

  font-size: 32px;
}

@keyframes pulse {

  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}