.navbar {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 70px;

  background: rgba(5, 8, 22, 0.9);

  backdrop-filter: blur(12px);

  position: fixed;

  top: 0;

  z-index: 1000;

  border-bottom: 1px solid rgba(255,255,255,0.08);
}

.navbar h2 {
  color: white;

  font-size: 28px;

  font-weight: bold;
}

.navbar ul {
  display: flex;

  gap: 35px;

  list-style: none;
}

.navbar a {
  text-decoration: none;

  color: #d1d5db;

  font-size: 18px;

  transition: 0.3s;
}

.navbar a:hover {
  color: #60a5fa;
}
@media (max-width: 768px) {

  .navbar {
    flex-direction: column;

    padding: 20px;
  }

  .navbar h2 {
    margin-bottom: 15px;

    font-size: 22px;

    text-align: center;
  }

  .navbar ul {
    gap: 18px;

    flex-wrap: wrap;

    justify-content: center;
  }

  .navbar a {
    font-size: 16px;
  }

}