.navbar {

  position: fixed;

  top: 0;
  left: 0;

  width: 100%;

  display: flex;

  justify-content: space-between;
  align-items: center;

  padding: 18px 6vw;

  background:
    rgba(2,6,23,0.72);

  backdrop-filter: blur(18px);

  border-bottom:
    1px solid rgba(255,255,255,0.08);

  z-index: 99999;
}

/* LOGO */

.logo {

  font-size: 2rem;

  font-weight: 900;

  font-family: 'Orbitron', sans-serif;

  color: white;

  letter-spacing: -1px;

  text-shadow:
    0 0 20px rgba(168,85,247,0.55);
}

/* NAV LINKS */

.nav-right {

  display: flex;

  align-items: center;

  gap: 34px;
}

.nav-right a {

  position: relative;

  color: white;

  font-size: 1.05rem;

  font-weight: 600;

  transition: 0.3s;
}

.nav-right a::after {

  content: "";

  position: absolute;

  left: 0;
  bottom: -6px;

  width: 0%;

  height: 2px;

  background:
    linear-gradient(
      90deg,
      #60a5fa,
      #a855f7
    );

  transition: 0.3s;
}

.nav-right a:hover {

  color: #60a5fa;
}

.nav-right a:hover::after {

  width: 100%;
}

/* HAMBURGER */

.menu-toggle {

  display: none;

  font-size: 2rem;

  color: white;

  cursor: pointer;

  transition: 0.3s;

  z-index: 100000;
}

.menu-toggle:hover {

  transform: scale(1.1);

  color: #60a5fa;
}

/* MOBILE */

@media (max-width: 768px) {

  .menu-toggle {

    display: block;
  }

  .nav-right {

    position: fixed;

    top: 82px;
    right: -100%;

    width: 270px;

    display: flex;

    flex-direction: column;

    align-items: flex-start;

    gap: 28px;

    background:
      rgba(15,23,42,0.97);

    backdrop-filter: blur(18px);

    padding: 34px;

    border-radius: 22px;

    transition: 0.35s;

    box-shadow:
      0 0 40px rgba(59,130,246,0.22);
  }

  .nav-right.active {

    right: 20px;
  }

  .nav-right a {

    font-size: 1.15rem;
  }

  .logo {

    font-size: 1.3rem;
  }

}

/* DROPDOWN */

.dropdown {

  position: relative;

  color: white;

  font-size: 1.05rem;

  font-weight: 600;

  cursor: pointer;
}

.dropdown span:hover {

  color: #60a5fa;
}

.dropdown-menu {

  position: absolute;

  top: 38px;
  left: 0;

  min-width: 220px;

  background:
    rgba(15,23,42,0.96);

  backdrop-filter: blur(18px);

  border:
    1px solid rgba(255,255,255,0.08);

  border-radius: 18px;

  padding: 20px;

  display: flex;

  flex-direction: column;

  gap: 18px;

  opacity: 0;

  visibility: hidden;

  transform: translateY(10px);

  transition: 0.3s;

  box-shadow:
    0 0 40px rgba(59,130,246,0.2);
}

.dropdown:hover .dropdown-menu {

  opacity: 1;

  visibility: visible;

  transform: translateY(0);
}

.dropdown-menu a {

  color: white;

  transition: 0.3s;
}

.dropdown-menu a:hover {

  color: #60a5fa;
}