.menu-toggle {
  display: none;

  font-size: 28px;

  color: white;

  cursor: pointer;
}

@media (max-width: 768px) {

  .menu-toggle {
    display: block;
  }

  .nav-right {

    position: absolute;

    top: 80px;
    right: -100%;

    width: 260px;

    background:
      rgba(2,6,23,0.96);

    flex-direction: column;

    padding: 30px;

    border-radius: 20px;

    transition: 0.3s;
  }

  .nav-right.active {
    right: 20px;
  }
}