@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800;900&display=swap');

* {

  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {

  scroll-behavior: smooth;
}

body {

  font-family: 'Inter', sans-serif;

  color: white;

  overflow-x: hidden;

  background:

    radial-gradient(
      circle at top left,
      rgba(168,85,247,0.25),
      transparent 30%
    ),

    radial-gradient(
      circle at top right,
      rgba(37,99,235,0.25),
      transparent 30%
    ),

    linear-gradient(
      180deg,
      #020617,
      #0f172a,
      #111827
    );
}

#root {

  width: 100%;
}

a {

  text-decoration: none;
}

img {

  max-width: 100%;

  display: block;
}