* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;

  overflow-x: hidden;

  font-family: Arial, sans-serif;

  background: #050816;
}

body {
  margin: 0;
}